body{
    margin: 0;
    padding: 0;
    margin-top: 55px;
    width: 100%;
    background: url("background.webp") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Calibri';
    color: white;
    font-size: 7vh;
    text-align: center;
}