@media screen and (max-width: 600px) {
    iframe{
        width: 100%;
        height: auto;
    }
}

body{
    margin: 0;
    padding: 0;
}

.black-space{
    margin-top: 55px;
    padding-top: 15%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("background.webp");
    background-size: cover;
    background-position: center;
}

.white-space{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 10%;
}

h1{
    padding-bottom: 20%;
    font-family: 'Calibri';
    color: white;
    font-size: 7vw;
    text-align: center;
}

h2{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 48px;
    text-align: left;
}

h2::before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
    pointer-events: none;
}

a{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 20px;
    text-decoration: underline;
}

p{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 20px;
    text-align: justify;
}

.download a{
    background-color: #0D0D0D;
    border: solid;
    border-color: white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 25px;
}

.download a:hover{
    color: #a1a1a1;
}

@media screen and (max-width: 700px) {
    table, thead, tbody, th, td, tr{
        display: block;
    }
}