body{
    margin: 0;
    padding: 0;
}

.black-space{
    margin-top: 55px;
    padding-top: 15%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("background new.webp");
    background-size: contain;
    background-position: right;
}

.name{
    padding-left: 6vw;
    padding-bottom: 10%;
}

.white-space{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 10%;
}

.responsive{
    width: 100%;
    height: auto;
}

.bio-img{
    size: inherit;
    padding-right: 6vw;
    float: left;
    width: fit-content;
}

.bio-text{
    padding-top: 2%;
    display: table;
}

h1{
    font-family: 'Calibri';
    color: white;
    font-size: 7vw;
    text-align: left;
}

h2{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 48px;
    text-align: left;
}

h3{
    font-family: 'Calibri';
    color: #a1a1a1;
    font-size: 4vw;
    text-align: left;
}

p{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 20px;
    text-align: justify;
}

