@media screen and (max-width: 600px) {
    iframe{
        width: 100%;
        height: auto;
    }
}

body{
    margin: 0;
    padding: 0;
}

.name-container{
    margin-top: 55px;
    padding-top: 15%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("background new.webp");
    background-size: contain;
    background-position: right;
}

.name{
    padding-left: 6vw;
    padding-bottom: 10%;
}

.bio-img{
    size: inherit;
    padding-right: 6vw;
    float: left;
    width: fit-content;
}

.black-space{
    margin-top: 55px;
    padding-top: 15%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("background.webp");
    background-size: cover;
    background-position: center;
}

.white-space{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 10%;
}

h1{
    padding-bottom: 20%;
    font-family: 'Calibri';
    color: white;
    font-size: 7vw;
    text-align: center;
}

h2{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 48px;
    text-align: left;
}

h2::before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
    pointer-events: none;
}

a{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 20px;
    text-decoration: underline;
}

p{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 20px;
    text-align: justify;
}

.works-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.works-flex{
    width: 45%;
    height: fit-content;
}

@media screen and (max-width: 600px){
    .works-container{
        display: block;
        margin-top: 20px;
    }
    
    .works-flex{
        width: 100%;
        height: fit-content;
    }
}

.post-list{
    list-style-type: none;
    color: #a1a1a1;
    font-family: 'Calibri';
    font-size: 16px;
    text-align: justify;
    padding-left: 0;
  }

  h3 a{
    font-family: 'Calibri';
    color:  #0D0D0D;
    font-size: 28px;
    text-align: left;
  }

.button a{
    background-color: #0D0D0D;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 25px;
}

.button a:hover{
    color: #a1a1a1;
}
