.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: black;
    display: inline-flex;
    justify-content: right;
    align-items: right;
}
.topnav a {
    border-style: solid;
    border-color: transparent;
    color: white;
    text-align: center;
    padding: 15px 15px;
    font-family: 'Calibri';
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    color: #677381;
}

.topnav a:active {
    color: #82A0AA;
    background-color: #2A272A;
}
  
.topnav a.active {
    border-style: solid;
    border-color: transparent transparent white transparent;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav{
        display: block;
        text-align: right;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav .icon {
        display: inline-block;
        cursor: pointer;
        padding: 10px;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 10px;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
      
    .change .bar2 {
        opacity: 0;
    }
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
}
  
 @media screen and (max-width: 600px) {
    .topnav.responsive{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: black;
        display: block;
    }

    .topnav.responsive a.icon {
        display: block;
        color: white;
        text-align: right;
        font-family: 'Calibri';
        text-decoration: none;
        font-size: 17px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        padding-right: 5vw;
        text-align: right;
    }

    .topnav.responsive a.active {
        border-style: solid;
        color: white;
        background-color: #4B4A54;
        border-color: black;
    } 
}