body{
    margin: 0;
    padding: 0;
}

.topnav {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    white-space: nowrap
}

@media screen and (max-width: 1140px) {
    .topnav{
        justify-content: left;
    }
}

.topnav a {
    color: white;
    text-align: center;
    padding: 15px 15px;
    font-family: 'Calibri';
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    border-style: solid;
    border-color: transparent;
}

.topnav a:hover {
    color: #677381;
}

.topnav a:active {
    color: #82A0AA;
    background-color: #2A272A;
}

.black-space{
    padding-top: 10%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../Assets/background.webp");
    background-size: cover;
    background-position: center;
}

.ig-id{
    font-weight: bold; 
    color: #677381; 
    text-align: center;
    font-family: 'Calibri';
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 20%;
}

.white-space{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 10%;
    justify-content: center;
}

.ig-profile{
    display: grid;
    justify-content: center;
}

.ig-profile img{
    border-radius: 50%;
    padding-bottom: 5px;
}

h1{
    padding-bottom: 2%;
    font-family: 'Calibri';
    color: white;
    font-size: 9vw;
    text-align: center;
}

h2{
    font-family: 'Calibri';
    color:black;
    font-size: 48px;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-family: 'Calibri';
    font-size: 20px;
}

.white-space a{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 25px;
    margin: 2px;
    font-family: 'Calibri';
    font-size: 20px;
}

a:hover{
    color: #677381;
}

a:active{
    color: #82A0AA;
    background-color: #2A272A;
}

p{
    font-family: 'Calibri';
    color: black;
    font-size: 20px;
    text-align: justify;
}
