---
layout: default
---
<div class="white-space">
    <style>
        body{
          margin-top: 55px;
        }
        p .dt-published{
          color: #a1a1a1;
          font-family: 'Calibri';
          font-size: 20px;
          text-align: justify;
        }
        h2{
          padding-top: 25px;
          margin-bottom: 0px;
        }
    </style>
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header">
          <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
          <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = "%b %-d, %Y" -%}
              {{ page.date | date: date_format }}
            </time>
            </p>
        </header>
      
        <div class="post-content e-content" itemprop="articleBody">
          {{ content }}
        </div>
      
        {%- if site.disqus.shortname -%}
          {%- include disqus_comments.html -%}
        {%- endif -%}
      
        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </article>
    <div class="button">
        <a href={{"/blog" | relative_url}}>View All Blog Posts</a>
    </div>
</div>